<!DOCTYPE html>
<html>
  <head>
    <title>SaasSubscriptionStripe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <br>
    <hr>
    <div class="flex-container" style="display: flex; flex-direction: row; justify-content: space-between">
      <%= link_to "Posts", posts_path %>
      <%= link_to "Pricing", pricing_path %>
    <% if user_signed_in? %>
          <%= link_to "Stripe BillingPortal", billing_portal_create_path, method: :post, data: { disable_with: "validating..."} %>
         <%= link_to current_user.email, edit_user_registration_path %>
         <div class="">
           Stripe id:
            <%= current_user.stripe_customer_id %>
         </div>
         <%= link_to "Log out", destroy_user_session_path, method: :delete %>
         <div class="">
           Plan:
           <%= current_user.plan %>
         </div>

         <div class="">
           Subscription status:
           <%= current_user.subscription_status %>
         </div>
    <% else %>
        <%= link_to "Log in", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
    <% end %>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
